<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Sherry -- The URL sharring app</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
  <%= stylesheet_link_tag    "application" %>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Sherry</a>

          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
          <form action="" class="pull-right">
            <input class="input-small" type="text" placeholder="Username">

            <input class="input-small" type="password" placeholder="Password">
            <button class="btn" type="submit">Sign in</button>
          </form>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1><%= yield :page_name %><small><%= yield :tag_line %></small></h1>
        </div>
        <div class="row">
          <div class="span10">
            <h2><%= yield :headline %></h2>
            <%= yield %>
          </div>
          <div class="span4">
            <% if @user %>
              <h3>Your Share Link</h3>
              <p>
                Drag this link to your browser. Click it to share your current page.
              </p>
              <p>
              <a href="javascript:(function(){b='<%=share_url(@user.name)%>';window.open(b+'?l='+document.location,'sherry','location=0,status=0,scrollbars=0,width=100,height=100');})();">Sherry Link</a>
              </p>
              <h3>Your Go Link</h3>
              <p>
                Drag this link to your browser. Click it to go to the last page you shared.
              </p>
              <p>
              <a href="<%=link_path @user.name%>">Go!</a>
              </p>

            <% end %>
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; joshndewey 2011</p>

      </footer>

    </div> <!-- /container -->

  </body>
</html>

